.button-web-app {
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: left;
  &-text {
    text-decoration: none;
    margin-left: 4px;
    &-smaller {
      text-align: left;
      font-size: 8px;
      white-space: nowrap;
    }
    &-larger {
      text-align: left;
      font-size: 16px;
      white-space: nowrap;
    }
  }
  &-emoji {
    margin-left: 4px;
    font-size: 28px;
    padding-left: 3px;
  }
}
.overlay_gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
  background: -moz-linear-gradient(0deg, rgba(51,22,20,1) 0%, rgba(51,43,1,1) 99%, rgba(51,43,1,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(51,22,20,1)), color-stop(99%, rgba(51,43,1,1)), color-stop(100%, rgba(51,43,1,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg, rgba(51,22,20,1) 0%, rgba(51,43,1,1) 99%, rgba(51,43,1,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg, rgba(51,22,20,1) 0%, rgba(51,43,1,1) 99%, rgba(51,43,1,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, rgba(51,22,20,1) 0%, rgba(51,43,1,1) 99%, rgba(51,43,1,1) 100%); /* ie10+ */
  background: linear-gradient(90deg, rgba(51,22,20,.65) 0%, rgba(51,43,1,.65) 99%, rgba(51,43,1,.65) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331614', endColorstr='#332B01',GradientType=1 ); /* ie6-9 */
}

.team_overlay_gradient {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
  background: -moz-linear-gradient(0deg, rgba(51,22,20,1) 0%, rgba(51,43,1,1) 99%, rgba(51,43,1,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(51,22,20,1)), color-stop(99%, rgba(51,43,1,1)), color-stop(100%, rgba(51,43,1,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg, rgba(51,22,20,1) 0%, rgba(51,43,1,1) 99%, rgba(51,43,1,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg, rgba(51,22,20,1) 0%, rgba(51,43,1,1) 99%, rgba(51,43,1,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, rgba(51,22,20,1) 0%, rgba(51,43,1,1) 99%, rgba(51,43,1,1) 100%); /* ie10+ */
  background: linear-gradient(90deg, rgba(51,22,20,.65) 0%, rgba(51,43,1,.65) 99%, rgba(51,43,1,.65) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#331614', endColorstr='#332B01',GradientType=1 ); /* ie6-9 */
}

.background-overlay_gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
}
.features-02-pad {
  padding: 50px 0 50px;
}

.container_order {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  max-width: 1080px;
  position: relative;
}
.footer-02-order {
  background-color: #1e1e1e;
  padding: 40px 0;
  position: relative;
}

.logo_img_size {
  max-height: 1000px;
  max-width: 1000px;
}
.headerafterpadding {
  position: relative;
  z-index: 100;
  padding-bottom: 200px;
}
.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button--salmon-outline {
  background-color: transparent;
  border-color: #DB5E58;
  color: #DB5E58;
}